# Provde a generic camera with name camera.miki_map
# - see original doku at https://github.com/Thomas55555/husqvarna_automower/blob/main/MAP_GUIDE.md
# - see camera generation in markdown at https://github.com/walthowd/ha-automower/blob/master/info.md
# - my discussion with the autor at https://github.com/Thomas55555/aioautomower/discussions/672#discussioncomment-15454901
# - Which attributes do we need:
#   - Standbild-URL aus secrets.yaml
#   - Bildfrequenz: 0,03Hz = alle 33s (führt bei 10h zu 1080 Calls/Tag) - Quota bei Google habe ich auf 1100 gesetzt
#   - Neuabruf auf URL-Änderung beschränken: JA, um unnötige Aufrufe zu vermeiden (wenn Automower im Dock ist oder auf derselben Stelle steht)
#   - SSL-Zertifikat überprüfen: NEIN, da HA manchmal pingelig ist
#   - Rest ignorieren

automation:
  - id: 'notify_miki_error'
    alias: 'Notify: Miki error'
    trigger:
      - entity_id: sensor.automower_fehler
        platform: state
        from: 'no_error'
        for: "00:01:00"
    action:
      - action: notify.send_message
        data:
          entity_id: notify.telegram_all
          
          message: >-
            {% set error = states('sensor.automower_fehler') %}
            {% set error_map = {
              'off': 'Ausgeschalten, gar nicht verfügbar - Fehlalarm?'
            } %}
            Achtung: *Miki* hat ein Problem! ({{ error_map.get(error, error) }})
      - service: system_log.write
        data_template:
          message: "Achtung: Miki hat ein Problem! ({{ states('sensor.automower_fehler') }})"
