template:
  - sensor:
      - default_entity_id: sensor.cover_all
        name: "Alle Rollos"
        state: >-
          {% if (states('sensor.modbus_sensor_01')|int == 1) and (states('sensor.modbus_sensor_02')|int == 1) and
                (states('sensor.modbus_sensor_03')|int == 1) and (states('sensor.modbus_sensor_04')|int == 1) and
                (states('sensor.modbus_sensor_05')|int == 1) and (states('sensor.modbus_sensor_06')|int == 1) %}
            0
          {% elif (states('sensor.modbus_sensor_01')|int == 2) and (states('sensor.modbus_sensor_02')|int == 2) and
                  (states('sensor.modbus_sensor_03')|int == 2) and (states('sensor.modbus_sensor_04')|int == 2) and
                  (states('sensor.modbus_sensor_05')|int == 2) and (states('sensor.modbus_sensor_06')|int == 2) %}
            100
          {% else %}
            50
          {% endif %}

      - default_entity_id: sensor.cover_rain
        name: "Rollos bei Regen"
        state: >-
          {% if (states('sensor.modbus_sensor_01')|int == 1) and (states('sensor.modbus_sensor_02')|int == 1) and
                (states('sensor.modbus_sensor_03')|int == 1) and (states('sensor.modbus_sensor_04')|int == 1) %}
            0
          {% elif (states('sensor.modbus_sensor_01')|int == 2) and (states('sensor.modbus_sensor_02')|int == 2) and
                  (states('sensor.modbus_sensor_03')|int == 2) and (states('sensor.modbus_sensor_04')|int == 2) %}
            100
          {% else %}
            50
          {% endif %}

  - cover:
      - default_entity_id: cover.kitchen_left_window
        name: "Küche links (Tisch)"
        device_class: shutter
        position: >-
          {% if states('sensor.modbus_sensor_01')|int == 1 %}
            0
          {% elif states('sensor.modbus_sensor_01')|int == 2 %}
            100
          {% else %}
            50
          {% endif %}
        open_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_kitchen_left_up
        close_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_kitchen_left_down

      - default_entity_id: cover.kitchen_right_window
        name: "Küche rechts (Geschirrspüler)"
        device_class: shutter
        position: >-
          {% if states('sensor.modbus_sensor_04')|int == 1 %}
            0
          {% elif states('sensor.modbus_sensor_04')|int == 2 %}
            100
          {% else %}
            50
          {% endif %}
        open_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_kitchen_right_up
        close_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_kitchen_right_down

      - default_entity_id: cover.kitchen_window
        name: "Küche Fenster"
        device_class: shutter
        position: >-
          {% if (states('sensor.modbus_sensor_01')|int == 1) and (states('sensor.modbus_sensor_04')|int == 1) %}
            0
          {% elif (states('sensor.modbus_sensor_01')|int == 2) and (states('sensor.modbus_sensor_04')|int == 2) %}
            100
          {% else %}
            50
          {% endif %}
        open_cover:
          action: switch.turn_on
          data:
            entity_id:
              - switch.blind_kitchen_left_up
              - switch.blind_kitchen_right_up
        close_cover:
          action: switch.turn_on
          data:
            entity_id:
              - switch.blind_kitchen_left_down
              - switch.blind_kitchen_right_down

      - default_entity_id: cover.kitchen_door
        name: "Küche Balkon"
        device_class: shutter
        position: >-
          {% if states('sensor.modbus_sensor_06')|int == 1 %}
            0
          {% elif states('sensor.modbus_sensor_06')|int == 2 %}
            100
          {% else %}
            50
          {% endif %}
        open_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_kitchen_door_up
        close_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_kitchen_door_down

      - default_entity_id: cover.livingroom_window
        name: "Wohnzimmer Fenster"
        device_class: shutter
        position: >-
          {% if states('sensor.modbus_sensor_03')|int == 1 %}
            0
          {% elif states('sensor.modbus_sensor_03')|int == 2 %}
            100
          {% else %}
            50
          {% endif %}
        open_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_livingroom_window_up
        close_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_livingroom_window_down

      - default_entity_id: cover.livingroom_door
        name: "Wohnzimmer Balkon"
        device_class: shutter
        position: >-
          {% if states('sensor.modbus_sensor_05')|int == 1 %}
            0
          {% elif states('sensor.modbus_sensor_05')|int == 2 %}
            100
          {% else %}
            50
          {% endif %}
        open_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_livingroom_door_up
        close_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_livingroom_door_down

      - default_entity_id: cover.bedroom_window
        name: "Schlafzimmer Fenster"
        device_class: shutter
        position: >-
          {% if states('sensor.modbus_sensor_02')|int == 1 %}
            0
          {% elif states('sensor.modbus_sensor_02')|int == 2 %}
            100
          {% else %}
            50
          {% endif %}
        open_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_bedroom_up
        close_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_bedroom_down

      - default_entity_id: cover.all
        name: "Alle Rollos"
        device_class: shutter
        position: "{{ states('sensor.cover_all')|float(50) }}"
        open_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_all_up
        close_cover:
          action: switch.turn_on
          data:
            entity_id: switch.blind_all_down

      - default_entity_id: cover.rain
        name: "Rollos bei Regen"
        device_class: shutter
        position: "{{ states('sensor.cover_rain')|float(50) }}"
        open_cover:
          action: switch.turn_on
          data:
            entity_id:
              - switch.blind_kitchen_left_up
              - switch.blind_kitchen_right_up
              - switch.blind_livingroom_window_up
              - switch.blind_bedroom_up
        close_cover:
          action: switch.turn_on
          data:
            entity_id:
              - switch.blind_kitchen_left_down
              - switch.blind_kitchen_right_down
              - switch.blind_livingroom_window_down
              - switch.blind_bedroom_down

automation:
- id: '1606158583703'
  alias: Garden covers down on sundown
  description: 'Fährt die Rollos zum Garten am Abend runter'
  trigger:
#    - platform: template
#      value_template: "{{ not is_state('sensor.logo3_naq1', 'unavailable') and states('sensor.time') > '15:00' and states('sensor.logo3_naq1') | int < 10 }}"
    - platform: numeric_state
      entity_id: sun.sun
      value_template: "{{ state_attr('sun.sun', 'elevation') }}"
      below: -6.00
  action:
    - service: cover.close_cover
      entity_id: cover.bedroom_window
    - service: cover.close_cover
      entity_id: cover.livingroom_window
  mode: single
- id: '1620112221379'
  alias: Neighbors covers down on sundown
  description: 'Fährt die Rollos zum Nachbarn am Abend runter'
  trigger:
#    - platform: template
#      value_template: "{{ not is_state('sensor.logo3_naq1', 'unavailable') and states('sensor.time') > '15:00' and states('sensor.logo3_naq1') | int < 600 }}"
    - platform: numeric_state
      entity_id: sun.sun
      value_template: "{{ state_attr('sun.sun', 'elevation') }}"
      below: -3.40
  action:
    - service: cover.close_cover
      entity_id: cover.kitchen_window
    - service: cover.close_cover
      entity_id: cover.livingroom_door
  mode: single
