template:
  - cover:
      # Cover für Zaun oben
      - name: "Fence Car"
        unique_id: fence_car
        device_class: gate
        state: >-
          {{ "open" if is_state('switch.fence_left', 'on') else "closed" }}
        open_cover:
          - action: switch.turn_on
            target:
              entity_id: switch.fence_left
        close_cover:
          - action: switch.turn_on
            target:
              entity_id: switch.fence_left

      - name: "Fence Bike"
        unique_id: fence_bike
        device_class: gate
        state: >-
          {{ "open" if is_state('switch.fence_right', 'on') else "closed" }}
        open_cover:
          - action: switch.turn_on
            target:
              entity_id: switch.fence_right
        close_cover:
          - action: switch.turn_on
            target:
              entity_id: switch.fence_right

      # Kombination (oben und unten) für Anitas Garage
      - name: "Descent Anita Bike"
        unique_id: descent_anita_bike
        device_class: garage
        state: "{{ states('cover.garage_anita') }}"
        open_cover:
          - action: cover.open_cover
            target:
              entity_id: cover.garage_anita
          - action: switch.turn_on
            target:
              entity_id: switch.fence_right
        close_cover:
          - action: cover.close_cover
            target:
              entity_id: cover.garage_anita
          - action: switch.turn_on
            target:
              entity_id: switch.fence_right

      - name: "Descent Anita Car"
        unique_id: descent_anita_car
        device_class: garage
        state: "{{ states('cover.garage_anita') }}"
        open_cover:
          - action: cover.open_cover
            target:
              entity_id: cover.garage_anita
          - action: switch.turn_on
            target:
              entity_id: switch.fence_left
        close_cover:
          - action: cover.close_cover
            target:
              entity_id: cover.garage_anita
          - action: switch.turn_on
            target:
              entity_id: switch.fence_left

      # Kombination (oben und unten) für Christians Garage
      - name: "Descent Christian Bike"
        unique_id: descent_christian_bike
        device_class: garage
        state: "{{ states('cover.garage_christian') }}"
        open_cover:
          - action: cover.open_cover
            target:
              entity_id: cover.garage_christian
          - action: switch.turn_on
            target:
              entity_id: switch.fence_right
        close_cover:
          - action: cover.close_cover
            target:
              entity_id: cover.garage_christian
          - action: switch.turn_on
            target:
              entity_id: switch.fence_right

      - name: "Descent Christian Car"
        unique_id: descent_christian_car
        device_class: garage
        state: "{{ states('cover.garage_christian') }}"
        open_cover:
          - action: cover.open_cover
            target:
              entity_id: cover.garage_christian
          - action: switch.turn_on
            target:
              entity_id: switch.fence_left
        close_cover:
          - action: cover.close_cover
            target:
              entity_id: cover.garage_christian
          - action: switch.turn_on
            target:
              entity_id: switch.fence_left
