#
# Alarm clock for Elias
#

input_boolean:
  elias_alarm_switch:
    name: Elias Wecker einschalten
    icon: mdi:alarm-check
input_datetime:
  elias_alarm_time:
    name: Elias Wecker Uhrzeit
    has_date: false
    has_time: true
    icon: mdi:alarm

automation:
  - id: 'elias_alarm_clock'
    alias: 'Service: alarm Elias'
    trigger:
      - platform: time
        at: input_datetime.elias_alarm_time
    condition:
      - condition: state
        entity_id: input_boolean.elias_alarm_switch
        state: 'on'
    action:
      # Schritt 1: Licht an (egal ob Elias da ist oder nicht)
      - action: light.turn_on
        target:
          entity_id: light.elias

      # Schritt 2: Warnen, wenn Elias nicht da ist (kann auch falsch sein)
      - if:
          - condition: state
            entity_id: person.elias
            state: 'not_home'
        then:
          - action: notify.send_message
            data:
              entity_id: notify.telegram_all
              message: Elias ist nicht zuhause, aber sein Wecker hat gerade das *Licht* aufgedreht.
