# Connecting Siemens Logo via modbus
# Port 502 ist der Standard für Modbus-TCP
#
# How to enable modbus on Sienems Logo
# - Tools -> Ethernet Connections…
# - Enter IP address of your LOGO…
# - Right click on Etnernet Connections -> Add server connection -> Modbus Connection
# - Upload your program to LOGO
#
# Regel für Netzwerkeingang: Coil = VB-address * 8 + bit (V100.0 = 8 * 100 + 0 = 800)
# Regel für analogen Ausgang: Register = VW-address / 2 (VW124 / 2 = register 62)
# See https://community.home-assistant.io/t/siemens-logo-8/129281/18
#
# This is the logo for the blinds located in the fuse box.
#
# Modbus address space
# I   1 - 24        Dig. Eing. (DI)    1 - 24       R   bit
# Q   1 - 20        Spule              8193 - 8212  R/W bit
# M   1 - 64        Spule              8257 - 8320	R/W bit
# V   0.0 - 850.7   Spule              1 - 6808     R/W bit
# AI  1 - 8         Eing.register (IR) 1 - 8        R   word
# VW  0 - 850       Halteregister (HR) 1 - 425      R/W word
# AQ  1 - 8         Halteregister (HR) 513 - 520    R/W word
# AM  1 - 64        Halteregister (HR) 529 - 592    R/W word


modbus:
  - name: hub1
    type: tcp
    host: 10.0.0.211
    port: 502
  
    sensors:
      - name: modbus_sensor_01
        address: 58
        scan_interval: 10
      - name: modbus_sensor_02
        address: 59
        scan_interval: 10
      - name: modbus_sensor_03
        address: 60
        scan_interval: 10
      - name: modbus_sensor_04
        address: 61
        scan_interval: 10
      - name: modbus_sensor_05
        address: 62
        scan_interval: 10
      - name: modbus_sensor_06
        address: 63
        scan_interval: 10

# Modbus switches, do not use directly as they have to be pulsed
    switches:
      - name: modbus_switch_01
        address: 800
        write_type: coil
      - name: modbus_switch_02
        address: 801
        write_type: coil
      - name: modbus_switch_03
        address: 802
        write_type: coil
      - name: modbus_switch_04
        address: 803
        write_type: coil
      - name: modbus_switch_05
        address: 804
        write_type: coil
      - name: modbus_switch_06
        address: 805
        write_type: coil
      - name: modbus_switch_07
        address: 806
        write_type: coil
      - name: modbus_switch_08
        address: 807
        write_type: coil
      - name: modbus_switch_09
        address: 808
        write_type: coil
      - name: modbus_switch_10
        address: 809
        write_type: coil
      - name: modbus_switch_11
        address: 810
        write_type: coil
      - name: modbus_switch_12
        address: 811
        write_type: coil
      - name: modbus_switch_13
        address: 812
        write_type: coil
      - name: modbus_switch_14
        address: 814
        write_type: coil

# Template switches for direct use (250ms pulse)
template:
  - switch:
      - default_entity_id: switch.blind_livingroom_window_up
        name: "Blind living room window up"
        state: "{{ is_state('switch.modbus_switch_01', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_01
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_01
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_01
      - default_entity_id: switch.blind_livingroom_window_down
        name: "Blind living room window down"
        state: "{{ is_state('switch.modbus_switch_02', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_02
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_02
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_02

      - default_entity_id: switch.blind_livingroom_door_up
        name: "Blind living room door up"
        state: "{{ is_state('switch.modbus_switch_03', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_03
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_03
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_03
      - default_entity_id: switch.blind_livingroom_door_down
        name: "Blind living room door down"
        state: "{{ is_state('switch.modbus_switch_04', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_04
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_04
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_04

      - default_entity_id: switch.blind_kitchen_door_up
        name: "Blind kitchen door up"
        state: "{{ is_state('switch.modbus_switch_05', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_05
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_05
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_05
      - default_entity_id: switch.blind_kitchen_door_down
        name: "Blind kitchen door down"
        state: "{{ is_state('switch.modbus_switch_06', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_06
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_06
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_06

      - default_entity_id: switch.blind_kitchen_left_up
        name: "Blind kitchen left up"
        state: "{{ is_state('switch.modbus_switch_07', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_07
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_07
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_07
      - default_entity_id: switch.blind_kitchen_left_down
        name: "Blind kitchen left down"
        state: "{{ is_state('switch.modbus_switch_08', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_08
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_08
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_08

      - default_entity_id: switch.blind_kitchen_right_up
        name: "Blind kitchen right up"
        state: "{{ is_state('switch.modbus_switch_09', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_09
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_09
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_09
      - default_entity_id: switch.blind_kitchen_right_down
        name: "Blind kitchen right down"
        state: "{{ is_state('switch.modbus_switch_10', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_10
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_10
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_10

      - default_entity_id: switch.blind_bedroom_up
        name: "Blind bedroom up"
        state: "{{ is_state('switch.modbus_switch_11', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_11
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_11
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_11
      - default_entity_id: switch.blind_bedroom_down
        name: "Blind bedroom down"
        state: "{{ is_state('switch.modbus_switch_12', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_12
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_12
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_12

      - default_entity_id: switch.blind_all_up
        name: "All blinds up"
        state: "{{ is_state('switch.modbus_switch_13', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_13
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_13
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_13
      - default_entity_id: switch.blind_all_down
        name: "All Blinds down"
        state: "{{ is_state('switch.modbus_switch_14', 'on') }}"
        icon: "mdi:blinds"
        turn_on:
          - action: switch.turn_on
            data:
              entity_id: switch.modbus_switch_14
          - delay:
              milliseconds: 250
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_14
        turn_off:
          - action: switch.turn_off
            data:
              entity_id: switch.modbus_switch_14
