#
# Dadurch, dass ich Netzwerk im Poolraum gebraucht habe, habe ich eine zweipolige Stromleitung zur Übertragung des Netzwerkes über Fritz! Powerline benutzt.
# Den Ersatz der Leitung habe ich wie folgt durchgeführt:
# - Im Technikraum gibt es den switch.power_01, der am Strom hängt, wenn geheizt werden soll
# - Dann registriert er sich über WLAN beim HomeAssistant
# - Die folgende Automatisierung läuft an und schaltet ein Relay im Heizungskeller
#

automation:
- id: 'pool_heater_on'
  alias: Service: Pool heater on
  trigger:
  - platform: state
    entity_id: switch.power_01
    from: "unavailable"
  action:
  - service: switch.turn_on
    target:
      entity_id: switch.ventilation_relay_4
  mode: single

- id: 'pool_heater_off'
  alias: Service: Pool heater off
  trigger:
  - platform: state
    entity_id: switch.power_01
    to: "unavailable"
  action:
  - service: switch.turn_off
    target:
      entity_id: switch.ventilation_relay_4
  mode: single
