# Rain sensor and logicPublic
#
# I am using the public Netatmo sensor(s).
# What I learned:
# - sensor.netatmo_pottelsdorf_rain is not usable. The sensor updates its state every 5 minutes to his server,
#   the server updates every 10 minutes to Netatmo. If you sum rain, it is much smaller than rain_today,
#   because values are missed. See
#   https://community.home-assistant.io/t/netatmo-rain-gauge-data-between-sensors-does-not-match/305736
# - Therefore I set up sensor.netatmo_rain_changes to get the differences from the last value of rain_total.
# - The template sensor is only initialized when a change occurs. For performing an init during start see
#   https://community.home-assistant.io/t/add-initial-and-restore-variables-to-event-trigger-based-template-sensors/311401
# - State for sensor.netatmo Rain Changes
#   if trigger.platform == 'homeassistant'
#     When plattform boots, set it to zero. The boot event has no data, so handle it at first.
#   elif trigger.entity_id == 'sensor.netatmo_pottelsdorf_rain_today'
#     Calculate the change to the old value
#   elif trigger.entity_id == 'sensor.netatmo_pottelsdorf_rain'
#     Use the current value only to set it to zero
#     otherwise ignore value (just use the old value)
#
# How to set the GPS 
# - Go to https://weathermap.netatmo.com/ to see the sensors near you
# - To to https://mymaps.google.com/ , enter points and draw a rectangle
# - Enter rectangle in the Netatmo config

template:
  - binary_sensor:
    - default_entity_id: binary_sensor.is_wet_outside
      delay_off:
        minutes: 30
      name: Is it wet outside?
      state: >-
        {{ states('sensor.netatmo_rain_changes')|float(0) >= 0.1 }}

  - trigger:
    - platform: state
      entity_id:
        - sensor.poettelsdorf_niederschlagsmenge_heute
    - platform: state
      entity_id:
        - sensor.poettelsdorf_niederschlagsmenge
    - platform: homeassistant
      event: start
    sensor:
      - name: Netatmo Rain Changes
        state: >
          {% if trigger.platform == 'homeassistant' %}
            0.0
          {% elif trigger.entity_id == 'sensor.poettelsdorf_niederschlagsmenge_heute' %}
            {% set delta = (trigger.to_state.state|float(0) - trigger.from_state.state|float(0))| round(1) %}
            {{ delta if delta > 0.0 else 0.0 }}
          {% elif trigger.entity_id == 'sensor.poettelsdorf_niederschlagsmenge' %}
            {% if trigger.to_state.state|float(0) == 0.0 %}
              0.0
            {% else %}
              {{ states('sensor.netatmo_rain_changes') | float(0) }}
            {% endif %}
          {% else %}
            100.0
          {% endif %}
        unit_of_measurement: mm
        icon: mdi:weather-rainy
        state_class: measurement

automation:
- id: 'rain_starts'
  alias: Notify: Rain starts
  trigger:
  - platform: state
    entity_id: binary_sensor.is_wet_outside
    from: 'off'
    to: 'on'
  action:
  - service: notify.telegram_admin
    data:
      message: Meister, es beginnt zu regnen!

- id: 'rain_ends'
  alias: Notify: Rain ends
  trigger:
  - platform: state
    entity_id: binary_sensor.is_wet_outside
    from: 'on'
    to: 'off'
  action:
  - service: notify.telegram_admin
    data:
      message: Meister, Regen ist vorbei und Gras ist trocken.
