camera:
  - platform: xiaomi_cloud_map_extractor
    name: sunny
    host: !secret xiaomi_vacuum_host
    token: !secret xiaomi_vacuum_token
    username: !secret xiaomi_cloud_username
    password: !secret xiaomi_cloud_password
    country: de
    draw: ['all']
    attributes:
      - calibration_points

automation:
  - id: 'disable_vacuum_camera_update'
    alias: 'Service: disable vacuum camera update when docked'
    use_blueprint:
      path: PiotrMachowski/disable_vacuum_camera_update_when_docked.yaml
      input:
        vacuum: vacuum.sunny
        camera: camera.sunny
