camera:
  - platform: xiaomi_cloud_map_extractor
    name: sunny
    host: !secret xiaomi_vacuum_host
    token: !secret xiaomi_vacuum_token
    username: !secret xiaomi_cloud_username
    password: !secret xiaomi_cloud_password
    country: de
    draw: ['all']
    attributes:
      - calibration_points

automation:
  - id: '1632073736357'
    alias: Disable vacuum camera update when docked
    description: ''
    use_blueprint:
      path: PiotrMachowski/disable_vacuum_camera_update_when_docked.yaml
      input:
        vacuum: vacuum.sunny
        camera: camera.sunny
