automation:
- id: 'turn_off_toaster'
  alias: 'Service: turn off toaster after 20 minutes'
  mode: restart
  trigger:
    platform: state
    entity_id: switch.plug_17_switch_0
    to: 'on'
  action:
    - delay:
        minutes: 20
    - if:
        - alias: "If toaster is still running"
          condition: state
          entity_id: switch.plug_17_switch_0
          state: 'on'
      then:
        - service: switch.turn_off
          entity_id: switch.plug_17_switch_0
        - data:
            message: "Toaster wurde nach 20 Minuten automatisch ausgeschalten. *Aufpassen!*"
            data:
              parse_mode: markdown
          service: notify.telegram_all
