# Update notification.
#
# Requisite:
# - Install Version Integration
#   Einstellungen > Geräte & Dienste.
# - Add integration twice:
#   - Instance 1: Source Local Installation (current running version): sensor.current_version
#   - Instance 2: Source Docker Hub (version available online): binary_sensor.docker_hub_update_available and sensor.docker_hub

input_text:
  last_known_version_update:
    name: Last known (and notified) version available for update
    icon: mdi:message-settings-outline

template:
  - binary_sensor:
      - name: HA Update available for Notification
        state: >-
          {% set last_ver = states('sensor.docker_hub') %}
          {% set notified_ver = states('input_text.last_known_version_update') %}
          {% set update_avail = is_state('binary_sensor.docker_hub_update_available', 'on') %}
          
          {# Prüfe ob Werte valide sind und ob die Version neu ist #}
          {{ has_value('sensor.docker_hub') and update_avail and last_ver != notified_ver }}

automation:
  - id: 'notify_ha_update'
    alias: 'Notify: HA update Available'
    mode: single
    trigger:
      - platform: state
        entity_id: binary_sensor.ha_update_available_for_notification
        from: 'off'
        to: 'on'
    action:
      - action: notify.send_message
        data:
          entity_id: notify.telegram_admin
          message: >-
            Meister, die Home Assistant Version *{{ states('sensor.docker_hub') }}* ist verfügbar. 
            Derzeit läuft die Version *{{ states('sensor.current_version') }}*.
      - service: input_text.set_value
        target:
          entity_id: input_text.last_known_version_update
        data:
          value: "{{ states('sensor.docker_hub') }}"

  - id: 'notify_hacs_update'
    alias: 'Notify: HACS update available'
    mode: single
    trigger:
      - platform: state
        entity_id: update.hacs_update # Nutzt die moderne Update-Entität
        from: 'off'
        to: 'on'
    action:
      - action: notify.send_message
        data:
          entity_id: notify.telegram_admin
          message: >-
            Meister, die HACS version *{{ state_attr('update.hacs_update', 'latest_version') }}* ist verfügbar. 
            Derzeit läuft die Version *{{ state_attr('update.hacs_update', 'installed_version') }}*.

