########
# Package for my heat-recovery ventilation (kontrollierte Wohnraumlüftung).
# The ventilation is controlled by esphome / switch_wlan_ventilation, a Sonoff 4CH Pro R2.
# Relay 4 is used for the pool heating.
########

# A home assistant fan entity to control the Wohnraumlüftung
template:
  - fan:
      - default_entity_id: fan.ventilation_fan
        name: "Ventilator Wohnraumlüftung"
        state: >-
          {% if states('switch.ventilation_relay_1') == 'on' %}
            off
          {% else %}
            on
          {% endif %}
        percentage: >-
          {% if states('switch.ventilation_relay_1') == 'on' %}
            0
          {% elif states('switch.ventilation_relay_2') == 'on' %}
            66
          {% elif states('switch.ventilation_relay_3') == 'on' %}
            100
          {% else %}
            33
          {% endif %}
        turn_on:
          action: switch.turn_off
          data:
            entity_id: switch.ventilation_relay_1
        turn_off:
          action: switch.turn_on
          data:
            entity_id: switch.ventilation_relay_1
        set_percentage:
          action: >-
            {% if percentage  == 0 %}
              script.ventilation_fan_off
            {% elif percentage  <= 33 %}
              script.ventilation_fan_1
            {% elif percentage <= 66 %}
              script.ventilation_fan_2
            {% elif percentage <= 100 %}
              script.ventilation_fan_3
            {% endif %}

# One sensor to display the state of the Wohnraumlüftung
# for logbook and history - oldfashioned with state
  - sensor:
      - default_entity_id: sensor.ventilation_state
        name: "Wohnraumlüftung"
        icon: mdi:fan
        state: >-
          {% if states('switch.ventilation_relay_1') == 'on' %}
            off
          {% elif states('switch.ventilation_relay_2') == 'on' %}
            medium
          {% elif states('switch.ventilation_relay_3') == 'on' %}
            high
          {% else %}
            low
          {% endif %}

# Scripts for setting the speed
script:
  ventilation_fan_off:
    alias: Turn ventilation off
    icon: "mdi:fan"
    description: 'Set ventilation speed to 0 (aka turn it off)'
    sequence:
      - service: switch.turn_on
        data:
          entity_id: switch.ventilation_relay_1
  ventilation_fan_1:
    alias: Set ventilation speed to low
    icon: "mdi:fan"
    description: 'Set the ventilation speed to low (1)'
    sequence:
      - service: switch.turn_off
        data:
          entity_id: switch.ventilation_relay_1
      - service: switch.turn_off
        data:
          entity_id: switch.ventilation_relay_2
      - service: switch.turn_off
        data:
          entity_id: switch.ventilation_relay_3
  ventilation_fan_2:
    alias: Set ventilation speed to medium
    icon: "mdi:fan"
    description: 'Set the ventilation speed to medium (2)'
    sequence:
      - service: switch.turn_on
        data:
          entity_id: switch.ventilation_relay_2
  ventilation_fan_3:
    alias: Set ventilation speed to high
    icon: "mdi:fan"
    description: 'Set the ventilation speed to high (3)'
    sequence:
      - service: switch.turn_on
        data:
          entity_id: switch.ventilation_relay_3

automation:
  - id: '1627870856860'
    alias: Wohnraumlüftung ein
    description: 'Schaltet die Wohnraumlüftung um 23:00 ein'
    trigger:
    - platform: time
      at: '23:00'
    action:
    - service: fan.turn_on
      target:
        entity_id: fan.ventilation_fan
    mode: single
  - id: '1627870932093'
    alias: Wohnraumlüftung aus
    description: 'Schaltet die Wohnraumlüftung um 7:00 aus'
    trigger:
    - platform: time
      at: '7:00'
    action:
    - service: fan.turn_off
      target:
        entity_id: fan.ventilation_fan
    mode: single

#logger:
#  logs:
#    fan.ventilation_fan: debug
