########
# Package for my heat-recovery ventilation (kontrollierte Wohnraumlüftung).
# The ventilation is controlled by esphome / ventilation.yaml, a Sonoff 4CH Pro R2.
# Relay 4 is used for the pool heating.
########

# A home assistant fan entity to control the Wohnraumlüftung
template:
  - fan:
      - name: "ventilation"
        state: >-
          {{ "off" if is_state('switch.ventilation_relay_1', 'on') else "on" }}
        percentage: >-
          {% if states('switch.ventilation_relay_1') == 'on' %}
            0
          {% elif states('switch.ventilation_relay_2') == 'on' %}
            66
          {% elif states('switch.ventilation_relay_3') == 'on' %}
            100
          {% else %}
            33
          {% endif %}
        speed_count: 3
        turn_on:
          action: script.ventilation_fan_1
        turn_off:
          action: script.ventilation_fan_off
        set_percentage:
          action: >-
            {% if percentage  == 0 %}
              script.ventilation_fan_off
            {% elif percentage  <= 33 %}
              script.ventilation_fan_1
            {% elif percentage <= 66 %}
              script.ventilation_fan_2
            {% elif percentage <= 100 %}
              script.ventilation_fan_3
            {% endif %}

# Scripts for setting the speed
script:
  ventilation_fan_off:
    alias: Turn ventilation off
    icon: "mdi:fan"
    description: 'Set ventilation speed to 0 (aka turn it off)'
    sequence:
      - action: switch.turn_on
        data:
          entity_id: switch.ventilation_relay_1
  ventilation_fan_1:
    alias: Set ventilation speed to low
    icon: "mdi:fan"
    description: 'Set the ventilation speed to low (1)'
    sequence:
      - action: switch.turn_off
        data:
          entity_id: switch.ventilation_relay_1
      - action: switch.turn_off
        data:
          entity_id: switch.ventilation_relay_2
      - action: switch.turn_off
        data:
          entity_id: switch.ventilation_relay_3
  ventilation_fan_2:
    alias: Set ventilation speed to medium
    icon: "mdi:fan"
    description: 'Set the ventilation speed to medium (2)'
    sequence:
      - action: switch.turn_on
        data:
          entity_id: switch.ventilation_relay_2
  ventilation_fan_3:
    alias: Set ventilation speed to high
    icon: "mdi:fan"
    description: 'Set the ventilation speed to high (3)'
    sequence:
      - action: switch.turn_on
        data:
          entity_id: switch.ventilation_relay_3

automation:
  - id: 'ventilation_on'
    alias: 'Service: Wohnraumlüftung ein'
    description: 'Schaltet die Wohnraumlüftung um 23:00 ein'
    trigger:
    - platform: time
      at: '23:00'
    action:
    - action: fan.turn_on
      target:
        entity_id: fan.ventilation
    mode: single
  - id: 'ventilation_off'
    alias: 'Service: Wohnraumlüftung aus'
    description: 'Schaltet die Wohnraumlüftung um 7:00 aus'
    trigger:
    - platform: time
      at: '7:00'
    action:
    - action: fan.turn_off
      target:
        entity_id: fan.ventilation
    mode: single

#logger:
#  logs:
#    fan.ventilation_fan: debug
