template:
  - sensor:
      - default_entity_id: sensor.gelbersack_text
        name: "Gelber Sack - am {{ state_attr('sensor.waste_gelber_sack', 'display_date') }}"
        state: "{{ state_attr('sensor.waste_gelber_sack', 'display_text') }}"
        icon: mdi:sack
      - default_entity_id: sensor.papiertonne_text
        name: "Papier - am {{ state_attr('sensor.waste_papier', 'display_date') }}"
        state: "{{ state_attr('sensor.waste_papier', 'display_text') }}"
        icon: mdi:delete-empty        
      - default_entity_id: sensor.restmuell_text
        name: "Restm端ll - am {{ state_attr('sensor.waste_restmull', 'display_date') }}"
        state: "{{ state_attr('sensor.waste_restmull', 'display_text') }}"
        icon: mdi:trash-can-outline

sensor:
  - platform: waste_at_bmv
    ort: !secret bmv_ort
    strasse: !secret bmv_strasse
    hausnummer: !secret bmv_hausnummer

automation:
- id: '1583509362749'
  alias: 'Notify: Garbage (Gelber Sack)'
  description: Telegram notification when garbage "Gelber Sack" is collected tomorrow
  trigger:
  - at: '19:00'
    platform: time
  condition:
  - condition: template
    value_template: "{{ state_attr('sensor.waste_gelber_sack', 'days') == 1 }}"
  action:
  - data:
      message: "*Gelber Sack* rausbringen. Abholung *morgen* ( {{state_attr('sensor.waste_gelber_sack', 'display_date')}})"
      data:
        parse_mode: markdown
    service: notify.telegram_all
- id: '1583509362750'
  alias: 'Notify: Garbage (Papier)'
  description: Telegram notification when garbage "Papier" is collected tomorrow
  trigger:
  - at: '19:00'
    platform: time
  condition:
  - condition: template
    value_template: "{{ state_attr('sensor.waste_papier', 'days') == 1 }}"
  action:
  - data:
      message: "*Papier* rausbringen. Abholung *morgen* ( {{state_attr('sensor.waste_papier', 'display_date')}})"
      data:
        parse_mode: markdown
    service: notify.telegram_all
- id: '1583509362751'
  alias: 'Notify: Garbage (Restm端ll)'
  description: Telegram notification when garbage "Restm端ll" is collected tomorrow
  trigger:
  - at: '19:00'
    platform: time
  condition:
  - condition: template
    value_template: "{{ state_attr('sensor.waste_restmull', 'days') == 1 }}"
  action:
  - data:
      message: "*Restm端ll* rausbringen. Abholung *morgen* ( {{state_attr('sensor.waste_restmull', 'display_date')}})"
      data:
        parse_mode: markdown
    service: notify.telegram_all
