#
# Configuration for waste integration, see https://github.com/ChrLipp/waste_at_bmv
#

# Integration configuration
sensor:
- platform: waste_at_bmv
  ort: !secret bmv_ort
  strasse: !secret bmv_strasse
  hausnummer: !secret bmv_hausnummer

# Display values, information is in the name AND in the value (eg. name = "Gelber Sack - am Fr, 20.02.", value="16 Tage").
# Special handling with unique_id and default_entity_id, since the changeing name would lead to changing entity_id's.
template:
- sensor:
  - default_entity_id: sensor.gelbersack_text
    unique_id: sensor_gelbersack_text
    name: "Gelber Sack - am {{ state_attr('sensor.waste_gelber_sack', 'display_date') }}"
    state: "{{ state_attr('sensor.waste_gelber_sack', 'display_text') }}"
    icon: mdi:sack
  - default_entity_id: sensor.papiertonne_text
    unique_id: sensor_papiertonne_text
    name: "Papier - am {{ state_attr('sensor.waste_papier', 'display_date') }}"
    state: "{{ state_attr('sensor.waste_papier', 'display_text') }}"
    icon: mdi:delete-empty
  - default_entity_id: sensor.restmull_text
    unique_id: sensor_restmuell_text
    name: "Restmüll - am {{ state_attr('sensor.waste_restmull', 'display_date') }}"
    state: "{{ state_attr('sensor.waste_restmull', 'display_text') }}"
    icon: mdi:trash-can-outline

# Notify if they collect waste tomorrow
automation:
- id: 'notify_garbage'
  alias: 'Notify: Garbage'
  trigger:
  - platform: time
    at: '19:00'
  action:
  - repeat:
      for_each:
      - { name: 'Gelber Sack', sensor: 'sensor.waste_gelber_sack' }
      - { name: 'Papier', sensor: 'sensor.waste_papier' }
      - { name: 'Restmüll', sensor: 'sensor.waste_restmull' }
      sequence:
      - if:
        - condition: template
          value_template: "{{ state_attr(repeat.item.sensor, 'days') == 1 }}"
        then:
        - action: notify.send_message
          data:
            entity_id: notify.telegram_all
            message: "*{{ repeat.item.name }}* rausbringen. Abholung *morgen* ({{ state_attr(repeat.item.sensor, 'display_date') }})"

