#
# Weihnachtsbeleuchtung
#

# Die Stecker hier zuordnen
group:
  weihnachtsbeleuchtung_wohnzimmer:
    name: "Weihnachtsbeleuchtung Wohnzimmer"
    entities:
      - switch.plug_03
      - switch.shellyplusplugs_e465b84329a8_switch_0

  weihnachtsbeleuchtung_rest:
    name: "Weihnachtsbeleuchtung Rest"
    entities:
      - switch.shellyplusplugs_e86beae2f644_switch_0
      - switch.plug_04
      - switch.plug_05
      - switch.plug_06
      - switch.plug_07
      - switch.plug_09
      - switch.plug_10
      - switch.plug_11
      - switch.plug_12
      - switch.plug_13
      - switch.shellyplusplugs_d48afc7ae358_switch_0
      - switch.plug_15_switch_0

input_boolean:
  weihnachtsmodus:
    name: Gibt an, ob der Weihnachtsmodus aktiv ist
    icon: mdi:pine-tree

automation:
- id: 'turn_on_xmas_lights'
  alias: 'Service: turn on x-mas lights'
  trigger:
  - platform: sun
    event: sunset
  action:
    action: switch.turn_on
    target:
      entity_id:
        - group.weihnachtsbeleuchtung_wohnzimmer
        - group.weihnachtsbeleuchtung_rest

- id: 'turn_off_xmas_lights'
  alias: 'Service: turn off x-mas lights'
  trigger:
  - platform: time
    at: '23:00:00'
  action:
    - action: cover.close_cover
      target:
        entity_id:
          - cover.bedroom_window
          - cover.livingroom_window
    - delay: '00:00:15'
    - action: switch.turn_off
      target:
        entity_id: group.weihnachtsbeleuchtung_rest

- id: 'turn_off_xmas_lights_living_room'
  alias: 'Service: turn off x-mas lights in the living room'
  trigger:
  - platform: time
    at: '00:00:00'
  action:
    - action: switch.turn_off
      target:
        entity_id: group.weihnachtsbeleuchtung_wohnzimmer

# Weihnachtsmodus aktivieren / deaktivieren
# In Einstellungen - Geräte & Dienste - Helfer neuen Helfer erstellen: Schalter wähle (ist typ inpt_boolean), Name ohne diesen Prefix festlegen. In diesem Fall hei0t die Variable input_boolean.weihnachtsmodus
- id: 'change_xmas_mode'
  alias: 'Service: change x-mas Mode'
  triggers:
  - trigger: state
    entity_id:
    - input_boolean.weihnachtsmodus
  action:
  - choose:
      # --- AKTIVIERUNG (Wenn input_boolean.weihnachtsmodus von OFF auf ON geht) ---
      - conditions:
          - condition: state
            entity_id: input_boolean.weihnachtsmodus
            state: 'on'
        sequence:
          - action: automation.turn_off
            target:
              entity_id: automation.garden_covers_down_on_sundown
          - action: automation.turn_on
            target:
              entity_id: automation.turn_on_xmas_lights
          - action: automation.turn_on
            target:
              entity_id: automation.turn_off_xmas_lights_living_room

      # --- DEAKTIVIERUNG (Wenn input_boolean.weihnachtsmodus von ON auf OFF geht) ---
      - conditions:
          - condition: state
            entity_id: input_boolean.weihnachtsmodus
            state: 'off'
        sequence:
          - action: automation.turn_on
            target:
              entity_id: automation.garden_covers_down_on_sundown
          - action: automation.turn_off
            target:
              entity_id: automation.turn_on_xmas_lights
          - action: automation.turn_off
            target:
              entity_id: automation.turn_off_xmas_lights_living_room
  mode: single
