# Logs
*.log

# Ignore folders
.storage
.cloud
.google.token
tts/
custom_components/.translations

# Ignore these YAML files with secret data/credentials
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Configuration files
home-assistant_v2.db
tv-token.txt
google_calendars.yaml

# Python-specific stuff
**/__pycache__/
*.pyc
*.pyd
*.pyo

# Mac
.DS_Store

# ESPHome
.esphome
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini

# Backups
/siemens_logo/UDF.rar
