# Logs
*.log
*.log.1
*.log.fault
/export

# Ignore folders
.storage
#.cloud
.google.token
#tts/
#custom_components/.translations
/config/.ha_run.lock

# Ignore these YAML files with secret data/credentials
secrets.yaml
/config/google_calendars.yaml
/config/govee_learning.yaml
/config/ip_bans.yaml
/config/known_devices.yaml
#/config/tv-token.txt

# Database
/config/home-assistant_v2.db
/config/home-assistant_v2.db-shm
/config/home-assistant_v2.db-wal

# Python-specific stuff
**/__pycache__/
*.pyc
*.pyd
*.pyo

# Mac
.DS_Store

# ESPHome
/esphome/.gitignore
.esphome
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini

# Backups
/siemens_logo/UDF.rar
