title: Home
background: var(--background-image)
views:
  - title: Überblick
    icon: 'mdi:home'
    path: default
    panel: false
    cards:
      - type: entities
        title: Familie
        show_header_toggle: false
        entities:
          - entity: person.christian
            secondary_info: last-changed
          - entity: person.anita
            secondary_info: last-changed
          - entity: person.anna_mavie
            secondary_info: last-changed
          - entity: person.elias
            secondary_info: last-changed
      - type: vertical-stack
        cards:
          - entity: weather.forecast_home
            type: weather-forecast
            name: Wettervorhersage
          - type: entities
            title: Wetter aktuell
            entities:
              - entity: sensor.poettelsdorf_temperatur
                name: Temperatur
              - entity: sensor.poettelsdorf_luftfeuchtigkeit
                name: Luftfeuchtigkeit
              - entity: sensor.poettelsdorf_niederschlagsmenge
                name: Regenmenge
              - entity: sensor.poettelsdorf_niederschlagsmenge_heute
                name: Regenmenge heute
              - entity: sensor.poettelsdorf_windgeschwindigkeit
                name: Windgeschwindigkeit
      - type: "custom:atomic-calendar-revive"
        fullDayEventText: "Ganzer Tag"
        noEventsForNextDaysText: "Keine Ereignisse in den nächsten Tagen"
        untilText: "bis"
        entities:
        - entity: calendar.familie
        - entity: calendar.geburtstage
        - entity: calendar.feiertage_in_osterreich
      - type: entities
        title: Abfalltermine
        show_header_toggle: false
        entities:
        - entity: sensor.gelbersack_text
        - entity: sensor.papiertonne_text
        - entity: sensor.restmull_text
      - type: "custom:horizon-card"
        darkMode: true
      - type: entities
        title: Belüftung
        show_header_toggle: false
        entities:
        - entity: fan.ventilation
          type: custom:fan-percent-button-row
          name: Wohnraumlüftung
          customHiText: 3
          customMedText: 2
          customLowText: 1
          customOffText: AUS
          hiPercentage: 100
          medPercentage: 66
          lowPercentage: 33
          customTheme: false
      - type: entities
        entities:
          - cover.rain
          - cover.all
          - type: divider
          - cover.kitchen_door
          - cover.kitchen_window
          - type: divider
          - cover.livingroom_door
          - cover.livingroom_window
          - type: divider
          - cover.bedroom_window
        title: Rollos
      - cards:
        - entity: media_player.fernseher_wohnzimmer
          type: media-control
          name: TV Samsung
        - entity: media_player.vusolo4k
          type: media-control
          name: VU Solo 4K
        - entity: media_player.onkyo
          type: media-control
          name: Onkyo
        type: vertical-stack
        title: Medien Wohnzimmer

  - title: Zimmer
    icon: 'mdi:human-child'
    path: rooms
    panel: false
    cards:
      - type: custom:xiaomi-vacuum-card
        entity: vacuum.sunny
        name: Sunny
        vendor: xiaomi
        image: /local/image/roborock.png
        attributes:
          main_brush:
            key: restkapazitat_der_hauptburste
            label: 'Hauptbürste: '
          side_brush:
            key: restkapazitat_der_seitenburste
            label: 'Seitenbürste: '
          filter:
            key: filter_restkapazitat
          sensor:
            key: bis_sensorreinigung_verbleibend
      - type: picture-entity
        entity: camera.sunny
        show_name: false
        show_state: false
      - type: entities
        entities:
          - entity: switch.plug_03
            name: Wohnzimmer Lichterkette
          - entity: switch.plug_02
            name: Lichterkette Schlafzimmer
          - type: divider
          - entity: switch.plug_17
            name: Toaster
          - entity: switch.plug_01
            name: Rennrad Ventilator
        title: Schaltbare Steckdosen
        show_header_toggle: false
      - cards:
          - entity: light.elias
            hold_action:
              action: more-info
            name: Elias Zimmer
            show_icon: true
            show_name: true
            state_color: true
            tap_action:
              action: toggle
            type: entity-button
          - entity: light.hochbett
            name: Anna Hochbett
            show_icon: true
            show_name: true
            state_color: true
            type: entity-button
        title: Licht
        type: horizontal-stack
      - cards:
        - entity: input_boolean.elias_alarm_switch
          type: entity-button
          name: Ein/Aus
        - type: 'custom:time-picker-card'
          entity: input_datetime.elias_alarm_time
          name: 'Choose a time'
          hour_mode: 24
          hour_step: 1
          minute_step: 5
          hide:
            name: true
        title: Wecker Elias
        type: horizontal-stack
      - cards:
        - entity: media_player.fernseher_anna_mavie
          type: media-control
          name: TV Samsung
        type: vertical-stack
        title: Zimmer Anna-Mavie
      - type: history-graph
        title: Schlafzimmmer
        hours_to_show: 24
        entities:
          - entity: sensor.alarm_clock_christian_temperature
            name: Wecker Christian

  - title: Garten
    icon: 'mdi:tree'
    path: outside
    panel: false
    cards:
      - cards:
          - cards:
              - entity: switch.fence_left
                name: Beide Flügel
                show_icon: true
                show_name: true
                state_color: true
                tap_action:
                  action: toggle
                type: entity-button
                icon: 'mdi:gate'
              - entity: cover.garage_christian
                name: Garage Christian
                show_icon: true
                show_name: true
                state_color: true
                tap_action:
                  action: toggle
                type: entity-button
            type: vertical-stack
          - cards:
              - entity: switch.fence_right
                name: Ein Flügel
                show_icon: true
                show_name: true
                state_color: true
                tap_action:
                  action: toggle
                type: entity-button
                icon: 'mdi:gate'
              - entity: cover.garage_anita
                name: Garage Anita
                show_icon: true
                show_name: true
                state_color: true
                tap_action:
                  action: toggle
                type: entity-button
            type: vertical-stack
        title: Abfahrt
        type: horizontal-stack
      - cards:
        - type: picture-entity
          entity: camera.miki_map
          show_name: false
          show_state: false
        - type: entities
          entities:
            - entity: lawn_mower.automower
              name: Status Miki
            - entity: sensor.automower_nachster_start
              name: Nächster Start
        type: vertical-stack
      - type: entities
        entities:
          - switch.terrace_light
          - switch.terrace_socket
          - type: divider
          - switch.terrace_flower_light
          - switch.pool_light_chain
          - type: divider
          - switch.pool_light
          - switch.pool_counter_current_system
          - type: divider
          - switch.garden_light_back
        title: Licht
        show_header_toggle: false
      - type: history-graph
        title: Temperaturen pro Tag (Raw)
        hours_to_show: 3
        entities:
          - sensor.logo3_naq3
          - sensor.logo3_naq4
      - type: history-graph
        title: Temperaturen pro Tag
        hours_to_show: 3
        entities:
          - sensor.logo3_temperature_1
          - sensor.logo3_temperature_2
      - type: history-graph
        title: Helligkeitsverlauf
        hours_to_show: 3
        entities:
          - sensor.logo3_naq1
          - sensor.logo3_naq2

  - title: Netzwerk
    icon: 'mdi:network'
    path: network
    panel: false
    cards:
      - cards:
          - entity: switch.arbeitszimmer
            icon: 'mdi:desktop-classic'
            type: entity-button
            state_color: true
          - entity: switch.diskstation
            icon: 'mdi:nas'
            type: entity-button
            state_color: true
        title: Computer
        type: horizontal-stack
      - type: entities
        entities:
          - entity: input_boolean.weihnachtsmodus
            name: Weihnachtsmodus
        title: 'Optionen: Modus'
