# Device: Shelly 1
# Link to device: https://www.amazon.de/gp/product/B07NS8M4Y1
#
# Flashed with USB
# - insert header pin row with 5 pins
# - connect GPIO0 for some seconds with ground
# - see https://www.youtube.com/watch?v=iF1NHR_oVr0
# - TXD (Shelly) zu RXD
#
# Config:
# - https://templates.blakadder.com/shelly_1.html
# - https://savjee.be/2020/06/make-garage-door-opener-smart-shelly-esphome-home-assistant/
#
# GPIO  Mode  Description
#  5    in    Input
#  4    out   Relay


substitutions:
  device_name: fence-left                                                 # Device name, prefix for all sub-componentes
  device_friendly_name: Fence Left                                        # Must be the same as device name, but in a better readable form
  device_description: Schalter Tor Abfahrt für beide Flügel (Auto)        # Description for device web page
  ip_adress: 10.0.0.219                                                   # IP adress

esphome:
  name: ${device_name}
  comment: ${device_description}
  friendly_name: ${device_friendly_name}

esp8266:
  board: esp01_1m

# Network settings
packages:
  wifi: !include .network.yaml

# The pulse switch that is attached to Shelly 1.
# Not exposed to HA, instead used to set the state of the template switch.
binary_sensor:
  - platform: gpio
    pin: GPIO5
    id: contact_sensor
    name: Relay Pulse Switch Sensor
    internal: True
    on_state:
      then:
        - switch.turn_on: template_switch

# The relay in the Shelly 1 that will deliver the pulse to
# the fence opener (not exposed to HA)
switch:
  - platform: gpio
    pin: GPIO4
    id: relay
    name: Relay
    internal: True
    # PREVENTS TRIGGER ON BOOT:
    restore_mode: ALWAYS_OFF 

# This creates the actual fence switch in HA. The state is based on the contact sensor.
# Closing the switch simply turns the relay on/off with a delay in between.
  - platform: template
    id: template_switch
    name: None
    # PREVENTS TRIGGER ON DISCONNECT/RECONNECT:
    restore_mode: DISABLED
    lambda: "return id(relay).state;"
    turn_on_action:
      - switch.turn_on: relay
      - delay: 1.0s
      - switch.turn_off: relay
    turn_off_action:
      - switch.turn_on: relay
      - delay: 1.0s
      - switch.turn_off: relay
