# Name: LoraTap RR400W Tuya Smart Life Wifi Relay Receiver
# Link to device: https://de.aliexpress.com/item/33005382815.html
# Config: https://templates.blakadder.com/loratap_RR400W.html
# The device only switches L+N to the output pins. You cannot control the input for the relay.
#
# My working template
# 12    out   x    Relay
# 13    in    x    Pairing button, used as a switch on the relay
# 04    out   ?    Red internal led (not tested)


substitutions:
  device_name: power-01                                                   # Device name, prefix for all sub-componentes
  device_friendly_name: Power 01                                          # Must be the same as device name, but in a better readable form
  device_description: Power Device 01 - Status Schwimmbadheizung          # Description for device web page
  ip_adress: 10.0.0.204                                                   # IP adress

esphome:
  name: ${device_name}
  comment: ${device_description}
  friendly_name: ${device_friendly_name}

esp8266:
  board: esp01_1m

# Network settings
<<: !include .network.yaml

switch:
# Relay action
- platform: gpio
  pin: GPIO12
  id: relay1
  name: None
  restore_mode: ALWAYS_OFF

binary_sensor:
# Reports when the button is pressed
- platform: gpio
  device_class: power
  pin:
    number: GPIO13
    inverted: True
  id: switch1
  name: "Switch"
  on_press:
    then:
      - switch.toggle: relay1
  internal: True
